@prefix dcat: <http://www.w3.org/ns/dcat#>.
@prefix dct: <http://purl.org/dc/terms/>.
@prefix foaf: <http://xmlns.com/foaf/0.1/>.
@prefix language: <http://id.loc.gov/vocabulary/iso639-1/>.
@prefix loc: <http://localhost/>.
@prefix d: <http://178.63.49.197:8050/dataset/>.
@prefix n1: <https://www.ema.europa.eu/en/about-us/>.

loc:new
    a dcat:Distribution;
    {{distribution_type}} <{{&distribution_url}}>;
    dcat:mediaType "{{media_type}}".